* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    color: white;
    background-color: blue;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    transition: all 0.5s linear 0s;
}

button:hover {
    background-color: orange;
    color: black;
    /* width: 150px; */
    transform: scale(1.05);
}

input {
    display: block;
    margin-top: 10px;
    padding: 2px 4px;
    border: 1px solid red;
    border-radius: 4px;
    width: 100px;
    transition: width 1s ease-in;
}

input:focus {
    width: 200px;
}

main {
    margin-top: 100px;
}

.box {
    height: 70px;
    width: 70px;
    background-color: gray;
    animation: slide 5s linear 0s infinite alternate;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
        background-color: wheat;
    }
}

.circle {
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation: pulse 2s linear 5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.5);
        background-color: brown;
    }
}

.rectangle {
    background-color: yellow;
    margin: 20px auto;
    height: 50px;
    width: 100px;
    animation: slideUpwards 10s linear 0s infinite alternate;
}

@keyframes slideUpwards {
    0% {
        transform: translateY(0);
        background-color: yellow;
    }

    25% {
        transform: translateY(-40px);
        background-color: orange;
    }

    50% {
        transform: translateY(-80px);
        background-color: red;
    }

    75% {
        transform: translateY(-120px);
        background-color: gray;
    }

    100% {
        transform: translateY(-160px);
        background-color: black;
    }
}