* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#paragraph {
    display: inline;
}

span {
    display: block;
}

#none {
    display: none
}

h2 {
    display: inline-block
}

#window {
    display: inline-block;
}


#about {
    background-color: blue;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.box {
    padding: 10px;
    width: 20px;
}

.yellow {
    position: relative;
    top: 20px;
    left: 50px;
    background-color: yellow;
}

.green {
    background-color: green;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.black {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 40px;
}

.white {
    background-color: chocolate;
    position: sticky;
    top: 50px;
}