body {
    background-color: green;
}

h1 {
    color: yellow;
    font-family: Impact;
    font-size: 20px;
    background-color: #381e1e;
}

.first {
    color: white;
    font-size: 10px;
    text-align: right;
}

#second {
    color: blue;
    font-weight: 600;
    text-align: center;
}

#third {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.four {
    text-transform: capitalize;
}

a[href="https://axia.africa"] {
    color: white;
}

button:hover {
    background-color: red;
    color: white;
}

.description {
    background-image: url('pexels-bertellifotografia-799443.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
